<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njtech.design.flightBerth.dao.AuthorityMapper">
    <resultMap id="RM" type="njtech.design.flightBerth.entity.Authority">
        <id property="authorityCode" column="authority_name"/>
        <result property="authorityName" column="authority_name"/>
    </resultMap>

</mapper>