<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njtech.design.flightBerth.dao.FlightMapper">

    <resultMap id="RM" type="njtech.design.flightBerth.entity.Flight">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="flightCode" column="flight_code" jdbcType="VARCHAR"/>
        <result property="airCompanyCode" column="air_company_code" jdbcType="VARCHAR"/>
        <result property="airCompanyName" column="air_company_name" jdbcType="VARCHAR"/>
        <result property="flightNum" column="flight_num" jdbcType="VARCHAR"/>
        <result property="flightDate" column="flight_date" jdbcType="TIMESTAMP" />
        <result property="redundantBusinessClass" column="redundant_business_class" jdbcType="INTEGER"/>
        <result property="redundantFirstClass" column="redundant_first_class" jdbcType="INTEGER"/>
        <result property="startPlace" column="start_place" jdbcType="VARCHAR"></result>
        <result property="targetPlace" column="target_place" jdbcType="VARCHAR"></result>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"></result>
    </resultMap>

    <select id="findFlight" resultMap="RM">
        select
        *
        from flight f
        where
            f.del_flag = 0
        <if test="airCompanyName != '' and airCompanyName != null">
          and  air_company_name = #{airCompanyName,jdbcType=VARCHAR}
        </if>

        <if test="flightNum != null and flightNum != '' ">
            and flight_num = #{flightNum,jdbcType=VARCHAR}
        </if>

        <if test="startDate != null ">
            and flight_date > #{startDate, jdbcType=TIMESTAMP }
        </if>
        order by flight_date

    </select>

    <select id="findAccurateFlight" resultMap="RM">
        select * from flight where id = #{flightId} and del_flag=0
    </select>

    <select id="getExpiredFlight" resultMap="RM">
        select * from flight where flight_date  &lt;= #{date} and del_flag = 0
    </select>

    <update id="expireFlight">
        update flight set del_flag = 1 where id = #{id}
    </update>

    <select id="getFlight" resultMap="RM">
        select * from flight where  del_flag = 0
        and air_company_name = #{airCompanyName} and flight_num = #{flightNum}
        and start_place = #{startPlace}
        and target_place = #{targetPlace}
        and flight_date = #{flightDate}

    </select>

</mapper>