<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njtech.design.flightBerth.dao.PriceMapper">
    <resultMap id="RM" type="njtech.design.flightBerth.entity.Price">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="priceCode" column="price_code" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="berthClass" column="berth_class" jdbcType="VARCHAR"/>
        <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="flightCode" column="flight_code" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>
    <insert id="insertPrice" parameterType="njtech.design.flightBerth.entity.Price">
        insert into price(price_code,berth_class,price,user_code,user_name,flight_code,create_time,del_flag)
        values (#{priceCode},#{berthClass},#{price},
        #{userCode},#{userName},#{flightCode},#{createTime},#{delFlag})
    </insert>

    <select id="rank" resultType="int">

    SELECT
	r.row_num
FROM
	(
	SELECT
		row_number ( ) OVER ( ORDER BY e.price DESC, e.create_time ASC ) AS row_num,
		e.price,
		e.user_code,
		e.berth_class,
		e.flight_code
	FROM
		( SELECT * FROM price WHERE del_flag = 0 AND berth_class = #{berthClass} AND flight_code = #{flightCode} ) e
	) r
WHERE
	r.user_code = #{user}


    </select>

    <update id="updatePrice" >
      update price set price = #{price},create_time=#{createDate}
       where berth_class=#{berthClass} and flight_code = #{flightCode} and user_code = #{phone} and del_flag = 0

    </update>

    <select id="findPrice" resultMap="RM">
        select * from price where flight_code = #{flightCode} and user_code = #{userCode} and del_flag = 0
        <if test="berthClass!=null and berthClass !='' ">
            and berth_class = #{berthClass,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="getEventualRank" resultType="njtech.design.flightBerth.entity.dto.SuccessRank">

	SELECT
		row_number ( ) OVER ( ORDER BY e.price DESC, e.create_time ASC ) AS ranking,
		e.id id,
		e.price price,
		u.phone phone,
		e.user_name userName,
		u.identity identity,
		u.email email,
		e.berth_class bidClass,
		f.flight_num flightNum,
		f.flight_date flightDate
	FROM
		price e
		INNER JOIN flight f ON e.flight_code = f.flight_code
		INNER JOIN user_info u ON e.user_code = u.phone
		where e.flight_code = #{flightCode} and  e.berth_class = #{bidClass} and e.del_flag = 0

    </select>

    <update id="updatePriceRemarkDelFlag" parameterType="njtech.design.flightBerth.entity.Price">
        update price set del_flag=#{delFlag},remark = #{remark}
       where id = #{id}

    </update>

    <delete id="removePrice">
      delete from price where flight_code = #{flightCode} and user_code = #{phone}
      <if test="userName!=null and userName!=''">
          and user_name = #{userName}
      </if>
    </delete>

    <!--TODO 管理-->
    <sql id="Base_Column_List">
		id,price_code,price,berth_class,user_code,user_name,flight_code,create_time,remark,del_flag
	</sql>


    <!--根据主键查询一条用户数据 -->
    <select id="selectByPrimaryKey" resultMap="RM"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from price
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 根据分页数据start 和size查询数据 -->
    <select id="findByPage" parameterType="Map" resultMap="RM">
        select
        <include refid="Base_Column_List" />
        from price
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--查询所有用户数据 -->
    <select id="selectPriceList" resultType="njtech.design.flightBerth.entity.Price">
        select
        <include refid="Base_Column_List" />
        from price
    </select>

    <!-- 查询用户记录总数 -->
    <select id="selectCount" resultType="int">
		select count(*) from price
	</select>

    <!--根据主键删除一条用户数据 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ticket
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <!--插入一条完整用户数据 -->
    <insert id="insert" parameterType="njtech.design.flightBerth.entity.Price">
		insert into price (id, price_code, price, berth_class, user_code, user_name,flight_code,create_time,remark,del_flag)
		values (#{id,jdbcType=INTEGER}, #{priceCode,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE},#{berthClass,jdbcType=VARCHAR},
		#{userCode,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{flightCode,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
		 #{delFlag,jdbcType=TINYINT})
	</insert>

    <!--插入一条用户数据 ，可以不完整 -->
    <insert id="insertSelective" parameterType="njtech.design.flightBerth.entity.Price">
        insert into price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="priceCode != null">
                price_code,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="berthClass != null">
                berth_class,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="flightCode != null">
                flight_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="priceCode != null">
                #{priceCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="berthClass != null">
                #{berthClass,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="flightCode != null">
                #{flightCode,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!--根据主键更新一条用户数据，可以不完整 -->
    <update id="updateByPrimaryKeySelective" parameterType="njtech.design.flightBerth.entity.Price">
        update price
        <set>
            <if test="priceCode != null">
                price_code = #{priceCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="berthClass != null">
                berth_class = #{berthClass,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="flightCode != null">
                flight_code = #{flightCode,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据主键更新一条用户数据 -->
    <update id="updateByPrimaryKey" parameterType="njtech.design.flightBerth.entity.Price">
		update price
		set
		price_code = #{ticCode,jdbcType=VARCHAR},
		price = #{identity,jdbcType=DOUBLE},
		berth_class = #{userName,jdbcType=VARCHAR},
		user_code = #{buyWay,jdbcType=INTEGER},
		user_name = #{airCompanyName,jdbcType=VARCHAR},
		flight_code = #{flightNum,jdbcType=INTEGER},
		create_time = #{flightNum,jdbcType=TIMESTAMP},
		remark = #{start,jdbcType=VARCHAR},
		del_flag = #{destination,jdbcType=TINYINT},
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>