<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njtech.design.flightBerth.dao.TicketMapper">
    <resultMap id="RM" type="njtech.design.flightBerth.entity.Ticket">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="ticCode" column="tic_code" jdbcType="VARCHAR"/>
        <result property="identity" column="identity" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="buyWay" column="buy_way" jdbcType="INTEGER"/>
        <result property="airCompanyName" column="air_company_name" jdbcType="VARCHAR"/>
        <result property="flightNum" column="flight_num" jdbcType="VARCHAR"/>
        <result property="start" column="start" jdbcType="VARCHAR"/>
        <result property="destination" column="destination" jdbcType="VARCHAR"/>
        <result property="flightTime" column="flight_time" jdbcType="TIMESTAMP"/>
        <result property="flightDate" column="flight_date" jdbcType="DATE"/>
        <result property="berthName" column="berth_name" jdbcType="VARCHAR"/>
        <result property="gateNum" column="gate_num" jdbcType="VARCHAR"/>
        <result property="seatNum" column="seat_num" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getFlightAndTicket" resultMap="RM">
        select * from ticket where identity = #{identity} and flight_num = #{flightNum} and flight_time=#{flightDate}
        <if test="startPlace!=null and startPlace!=''">
            and start = #{startPlace}
        </if>
        <if test="targetPlace!=null and targetPlace!=''">
            and destination = #{targetPlace}
        </if>
        and remark = #{remark}
    </select>

    <insert id="insertTicket" parameterType="njtech.design.flightBerth.entity.Ticket">
        INSERT INTO
        ticket
        (tic_code,identity,user_name,buy_way,flight_num,start,destination,flight_time,flight_date,
        gate_num,seat_num,remark,air_company_name,berth_name)
        VALUES
        (#{ticCode},#{identity},#{userName},#{buyWay},#{flightNum},#{start},#{destination},#{flightTime},#{flightDate},
        #{gateNum},#{seatNum},#{remark},#{airCompanyName},#{berthName})
    </insert>

    <update id="updateTicketRemarkById">
        UPDATE
        ticket
        SET
        remark=#{remark}
        WHERE
        id=#{id}
    </update>

    <select id="getTicket" resultMap="RM">
        select * from ticket where identity = #{identity} and user_name = #{userName}
    </select>

    <select id="findTicket" resultMap="RM">
        select * from ticket where id = #{id} and remark = '进行中'
    </select>

    <update id="solveExpiredTicket">
        update ticket set remark = '已过期' where remark = '进行中'
        <if test="flightTime!=null">
            and flight_time &lt;= #{flightTime}
        </if>

    </update>

</mapper>