<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njtech.design.flightBerth.dao.UserMapper">
    <resultMap id="RM" type="njtech.design.flightBerth.entity.UserInfo">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userSex" column="user_sex" jdbcType="VARCHAR"/>
        <result property="userAge" column="user_age"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="identity" column="identity" jdbcType="VARCHAR"/>
        <result property="authority" column="authority" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findUser" resultType="int">
        select count(*) from user_info where phone=#{phone} and password = #{psd}
    </select>

    <select id="userIsRemark" resultType="java.lang.String">
        select remark from user_info where phone = #{phone}
    </select>

    <update id="userInfoSupplement">
        update user_info set user_name=#{userName} ,user_sex=#{sex},identity = #{identity},
        remark='已认证'
        where phone = #{phone}
    </update>

    <select id="getUser" resultMap="RM">
        select * from user_info where phone = #{phone}
    </select>


    <insert id="register" parameterType="njtech.design.flightBerth.entity.UserInfo">
    insert into user_info (password,phone,user_code,authority,remark,email) values(#{password},#{phone},#{phone},#{authority},#{remark},#{email})
</insert>

    <select id="login" resultMap="RM">
    select * from user_info where phone=#{phone} and password=#{password}
</select>

    <select id="findPhone" resultType="int">
        select count(*) from user_info where phone = #{phone}
    </select>

    <select id="findEmail" resultType="int">
        select count(*) from user_info where email = #{email}
    </select>

    <select id="findIdentity" resultMap="RM">
        select * from user_info where remark = '已认证' and identity = #{identity}
    </select>

    <update id="modify" parameterType="njtech.design.flightBerth.entity.UserInfo">
        update user_info set
        <if test="userCode!=null">
            user_code=#{userCode} ,
        </if>

        <if test="sex!=null">
            user_sex=#{sex},
        </if>

        <if test="userAge!=null">
            user_age = #{userAge}
        </if>

        where phone = #{phone}
    </update>

    <update id="changePassword">
        update user_info set password=#{password}
        where phone = #{phone}
    </update>

    <delete id="deleteUser">
        delete from user_info where phone = #{phone}
    </delete>

</mapper>