<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njtech.design.flightBerth.dao.UserMapper">
    <resultMap id="RM" type="njtech.design.flightBerth.entity.UserInfo">
        <id property="id" column="id"/>
        <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="userSex" column="user_sex" jdbcType="VARCHAR"/>
        <result property="userAge" column="user_age"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="identity" column="identity" jdbcType="VARCHAR"/>
        <result property="authority" column="authority" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findUser" resultType="int">
        select count(*) from user_info where phone=#{phone} and password = #{psd}
    </select>

    <select id="userIsRemark" resultType="java.lang.String">
        select remark from user_info where phone = #{phone}
    </select>

    <update id="userInfoSupplement">
        update user_info set user_name=#{userName} ,user_sex=#{sex},identity = #{identity},
        remark='已认证'
        where phone = #{phone}
    </update>

    <select id="getUser" resultMap="RM">
        select * from user_info where phone = #{phone}
    </select>


    <insert id="register" parameterType="njtech.design.flightBerth.entity.UserInfo">
    insert into user_info (password,phone,user_code,authority,remark,email) values(#{password},#{phone},#{phone},#{authority},#{remark},#{email})
</insert>

    <select id="login" resultMap="RM">
    select * from user_info where phone=#{phone} and password=#{password}
</select>

    <select id="findPhone" resultType="int">
        select count(*) from user_info where phone = #{phone}
    </select>

    <select id="findEmail" resultType="int">
        select count(*) from user_info where email = #{email}
    </select>

    <select id="findIdentity" resultMap="RM">
        select * from user_info where remark = '已认证' and identity = #{identity}
    </select>

    <update id="modify" parameterType="njtech.design.flightBerth.entity.UserInfo">
        update user_info set
        <if test="userCode!=null">
            user_code=#{userCode} ,
        </if>

        <if test="sex!=null">
            user_sex=#{sex},
        </if>

        <if test="userAge!=null">
            user_age = #{userAge}
        </if>

        where phone = #{phone}
    </update>

    <update id="changePassword">
        update user_info set password=#{password}
        where phone = #{phone}
    </update>

    <delete id="deleteUser">
        delete from user_info where phone = #{phone}
    </delete>

    <!--TODO 管理-->
    <sql id="Base_Column_List">
		id,user_code,user_name,password,email,user_sex,user_age,phone,identity,authority,remark
	</sql>

    <!--根据主键查询一条用户数据 -->
    <select id="selectByPrimaryKey" resultMap="RM"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from user_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 根据分页数据start 和size查询数据 -->
    <select id="findByPage" parameterType="Map" resultMap="RM">
        select
        <include refid="Base_Column_List" />
        from user_info
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--查询所有用户数据 -->
    <select id="selectUserList" resultType="njtech.design.flightBerth.entity.UserInfo">
        select
        <include refid="Base_Column_List" />
        from user_info
    </select>

    <!-- 查询用户记录总数 -->
    <select id="selectCount" resultType="int">
		select count(*) from user_info
	</select>

    <!--根据主键删除一条用户数据 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_info
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <!--插入一条完整用户数据 -->
    <insert id="insert" parameterType="njtech.design.flightBerth.entity.UserInfo">
		insert into user_info (id, user_code, user_name, password, email, user_sex,user_age,phone,identity,authority,remark)
		values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},#{userSex,jdbcType=VARCHAR},#{userAge,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{identity,jdbcType=VARCHAR},
		 #{authority,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
		)
	</insert>

    <!--插入一条用户数据 ，可以不完整 -->
    <insert id="insertSelective" parameterType="njtech.design.flightBerth.entity.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userAge != null">
                user_age,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="identity != null">
                identity,
            </if>
            <if test="authority != null">
                authority,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                #{userAge,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                #{identity,jdbcType=VARCHAR},
            </if>
            <if test="authority != null">
                #{authority,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--根据主键更新一条用户数据，可以不完整 -->
    <update id="updateByPrimaryKeySelective" parameterType="njtech.design.flightBerth.entity.UserInfo">
        update user_info
        <set>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userAge != null">
                user_age = #{userAge,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="identity != null">
                identity = #{identity,jdbcType=VARCHAR},
            </if>
            <if test="authority != null">
                authority = #{authority,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--根据主键更新一条用户数据 -->
    <update id="updateByPrimaryKey" parameterType="njtech.design.flightBerth.entity.UserInfo">
		update user_info
		set user_code = #{userCode,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		user_sex = #{userSex,jdbcType=VARCHAR},
		user_age = #{userAge,jdbcType=INTEGER},
		phone = #{phone,jdbcType=VARCHAR},
		identity = #{identity,jdbcType=VARCHAR},
		authority = #{authority,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>